:root {
  --black-1: #272a31;
  --red-2: #ec5242;
  --white-3: #d3d3d3;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  color: var(--black-1);
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Lato-Regular;
  src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Cocogoose-Regular;
  src: url(../assets/fonts/Cocogoose-Pro-Regular-Trial.otf);
}

.red-2 {
  color: var(--red-2);
}

.white-3 {
  color: var(--white-3);
}

.fill-white {
  filter: invert(100%);
}

.bg-info-1 {
  background-color: rgba(245, 245, 245, 0.911);
}

.bg-info-2 {
  background-color: rgba(12, 12, 12, 0.692);
}

.bg-info-3 {
  background-color: var(--red-2);
}

.coogose {
  font-family: Cocogoose-Regular, Arial, Helvetica, sans-serif;
}

.tickness {
  border: 2px solid gray;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  width: 30%;
  border-bottom: solid 1px var(--red-2);
  position: absolute;
  bottom: 0;
  left: 30%;
}

.underline-2 {
  position: relative;
}

.underline-2::after {
  content: '';
  width: 10%;
  border-bottom: solid 1px var(--black-1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.title-2 {
  background-image: -webkit-linear-gradient(var(--red-2), #0c0403);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-2-bd {
  border-color: var(--red-2);
  border: 4px solid;
}

.m-w-100 {
  max-width: 100px;
}

.display-grid-1 {
  display: grid;
}

.hover-red-1:hover {
  color: var(--red-2);
}

.bg-img-1 {
  background: url(../assets/metal-background.jpg) no-repeat center fixed;
  background-size: cover;
}

.lecture-area {
  grid-area: lecture;
}

.exhibition-area {
  grid-area: exhibition;
}

.forum-area {
  grid-area: forum;
}

.workshop-area {
  grid-area: workshop;
}

.ignite-area {
  grid-area: ignite;
}

@media (max-width: 768px) {
  body {
    background: url(../assets/background-1.jpg) no-repeat center fixed;
    background-size: cover;
  }

  .title-1 {
    font-size: 2rem;
    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  }

  .title-2 {
    font-size: 4rem;
    font-family: Cocogoose-Regular, Arial, Helvetica, sans-serif;
  }

  .max-w-100 {
    max-width: 100px;
  }

  .display-none-nav {
    display: none;
  }

  .margin-x-1 {
    margin: 0 5%;
  }

  .margin-x-2 {
    margin-left: 10%;
    margin-right: 20%;
  }

  .container-769 {
    min-width: 300px;
    max-width: 768px;
    margin: auto;
  }

  .info-text h3 {
    font-size: 2rem;
    padding-left: 10px;
  }

  .info-text span,
  .info-text p {
    font-size: 1.6rem;
    padding-left: 10px;
  }

  .width-50-img {
    width: 40%;
    margin-left: 20px;
  }

  .btn-lg-2 {
    height: 140px;
  }

  .display-grid-1 {
    grid-template-areas:
      "lecture"
      "exhibition"
      "forum"
      "workshop"
      "ignite";
    gap: 5px;
    padding: 0;
  }

  .display-inline-grid-1 {
    display: inline-grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: "img title text";
    align-items: center;
  }

  .display-inline-grid-1 img {
    width: 110px;
    margin-right: 10px;
    padding: 20px;
  }

  .display-inline-grid-1 p {
    text-align: left;
    margin-left: 30px;
  }

  .padding-main-program {
    padding: 40px;
  }

  .display-inline-grid-1 h5 {
    font-size: 1.6rem;
  }

  .btn-lg-1 {
    height: 90px;
  }
}

@media (max-width: 587px) {
  .title-1 {
    font-size: 1.6rem;
  }

  .title-2 {
    font-size: 3rem;
  }

  .display-inline-grid-1 {
    display: inline-grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: "img title text";
    align-items: center;
  }

  .display-inline-grid-1 img {
    width: 110px;
    padding: 0;
  }

  .display-inline-grid-1 p {
    text-align: left;
  }

  .padding-main-program {
    padding: 0;
  }

  .display-inline-grid-1 h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .title-1 {
    font-size: 1.6rem;
  }

  .title-2 {
    font-size: 2rem;
  }

  .display-inline-grid-1 {
    display: inline-grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: "img title text";
    align-items: center;
  }

  .text-small {
    font-size: 1rem;
  }

  .display-inline-grid-1 img {
    width: 110px;
    padding: 10px;
  }

  .display-inline-grid-1 p {
    text-align: left;
    font-size: 0.8rem;
  }

  .padding-main-program {
    padding: 10px;
  }

  .display-inline-grid-1 h5 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 769px) {
  body {
    background: url(../assets/background-1.jpg) no-repeat center fixed;
    background-size: cover;
  }

  .display-none {
    display: none;
  }

  .margin-10 {
    margin-right: 10%;
  }

  .title-2 {
    font-size: 4rem;
    font-family: Cocogoose-Regular, Arial, Helvetica, sans-serif;
  }

  .margin-x-1 {
    margin-left: 10%;
  }

  .margin-x-2 {
    margin-left: 10%;
    margin-right: 20%;
  }

  .container-769 {
    min-width: 769px;
    max-width: 1420px;
    margin: auto;
  }

  .display-grid-1 {
    grid-template-areas: "lecture exhibition forum workshop ignite";
    gap: 5px;
  }

  .img-m-height img {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img-m-height-2 {
    height: 30px;
    width: 230px;
  }

  .img-m-height-3 {
    width: 200px;
  }

  .margin-left-1 {
    margin-left: 20%;
  }

  .display-flex {
    display: flex;
    margin: 0 auto;
  }

  .info-text h3,
  .info-text span,
  .info-text p {
    font-size: 1.4rem;
    padding-left: 10px;
  }

  .width-50 {
    width: 50%;
  }

  .width-50-img {
    width: 50%;
  }

  .padding-y-1 {
    padding: 100px 0;
  }

  .btn-lg-1 {
    height: 100px;
  }

  .margin-10-1 {
    margin-right: 11%;
    margin-left: auto;
  }
}
